Q11 : Create a module named as arithmetic which contains 4
functions as add() for addition, sub() for subtraction,
mult() for multiplication and div() for division. All
functions accepts two parameters as number and
perform the operation. Write a program to test all the
functions from arithmetic module by accepting the
parameters from user.

In [1]:
%%writefile arithmetic.py

def add(a,b):
   return a+b

def sub(a,b):
   return a-b

def mult(a,b):
   return a*b

def div(a,b):
   return a/b

Writing arithmetic.py

In [7]:
import arithmetic as atc

In [8]:
x=int(input("Enter the First number : "))
y=int(input("Enter the Second number : "))
print(atc.add(x,y))
print(atc.sub(x,y))
print(atc.mult(x,y))
print(atc.div(x,y))

Enter the First number : 5
Enter the Second number : 2
7
3
10
2.5

Q12: Write a program to accept one number n from user and
display below pattern.

Input 5

Output : 

"* * * * *"

"* * * * *"

"* * * * *"

"* * * * *"

"* * * * *"

In [9]:
num=int(input("Enter the number : "))

for i in range(num):
  for j in range(num):
    print("*",end=" ")
  print()

Enter the number : 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Q13: Write a program to accept one number n from user and
find its factorial.

Input : 5

Output : 120

In [11]:
def factorial(x):
  if x==1:
    return 1
  else:
    return x*factorial(x-1)

num=int(input("Enter the number : "))

print(factorial(num))

Enter the number : 5
120