Q16: Write a program to accept one number n and display below
pattern.

Input :5

Output :

"* * * * *"

"* * * *"

"* * *"

"* *"

"*"

In [2]:
n=int(input(("Enter number : ")))

for i in range(n):
  for j in range(n-i):
    print("* ",end=" ")
  print()

Enter number : 5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

Q17: Write a program to accept one number n and display below
pattern.

Input :5

Output:

12345

12345

12345

12345

In [4]:
n=int(input(("Enter number : ")))

for i in range(n-1):
  for j in range(1,n+1):
    print(j,end=" ")
  print()

Enter number : 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

Q18: Write a program to accepts one number n and display below
pattern.

Input :5

Output : 

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [6]:
n=int(input(("Enter number : ")))

for i in range(n+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

Enter number : 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q19: Write a program to accept number n from user and
return number of digits in that number.

Input : 5187934

Output : 7

In [7]:
n=input("Enter number : ")
print(len(n))

Enter number : 5187934
7

Q20: Write a program to accept number n from user and
return addition of digits in that number.

Input : 5187934

Output : 37

In [26]:
n=input("Enter number : ")

ls=[]
for i in range(len(n)):
  ls.append(int(n[i]))

sum(ls)

Enter number : 5187934

37