Q1: Write a function named as mo(). This function should
display "Hello from Motaseam" on console. Write a program to
test this function.

In [1]:
def mo():
  print("Hello from Motaseam")

mo()

Hello from Motaseam

Q2 : Write a function named as check_num() which accept
one parameter as number. If number is even then it
should display "Even number" otherwise display "Odd
number" on console. Write a program to test this
function.

In [4]:
def check_num(num):
  if num%2==0:
    print("Even number")
  else:
    print("Odd number")

check_num(int(input("Enter number : ")))

Enter number : 5
Odd number

Q3 : Write a function named as mult() which accepts two
numbers from user and return multiplication of that two
numbers. Write a program to test this function.

Input :11 and 5

Output : 55

In [5]:
def mult(num1,num2):
  return num1*num2

mult(int(input("Enter num1: ")) , int(input("Enter num2: ")) )

Enter num1: 11
Enter num2: 5

55

Q4 : Write a program which display n times "Hello World!"
Input: 5
Output : 
Hello World! Hello World! Hello World! Hello World! Hello World!

In [7]:
n=int(input("Enter the n : "))
for i in range(n):
  print("Hello World!",end=" ")

Enter the n : 5
Hello World! Hello World! Hello World! Hello World! Hello World!

Q5 : Write a program which display 1 to n on screen in
reverse.

Input: 10

Output: 10 9 8 7 6 5 4 3 2 1

In [9]:
num=int(input("Enter number : "))
for i in range(num):
  print(num-i,end=" ")

Enter number : 10
10 9 8 7 6 5 4 3 2 1