Q39: Accept three dimensions length (I), breadth(b) and height(h)
of a cuboid and print surface area and volume 

(Hint : surface area=2(Ib+lh+bh ), volume = Ibh)

In [2]:
l=float(input("Enter the length in cm: "))
b=float(input("Enter the breadth in cm: "))
h=float(input("Enter the height in cm: "))

SurfaceArea=2*(l*b+l*h+b*h)
volume=l*b*h

print(f"The surface area is {SurfaceArea} cm^2, and the volume is {volume} cm^3")

Enter the length in cm: 10
Enter the breadth in cm: 10
Enter the height in cm: 10
The surface area is 600.0 cm^2, and the volume is 1000.0 cm^3

Q40: Accept a character from the keyboard and display its
previous and next character in order.

e.g. If the character entered is 'dâ€™, display "The previous
character is c", "The next character is e".

In [3]:
x=input("Enter a character : ")

prev=chr(ord(x)-1)
nxt=chr(ord(x)+1)
print(f"The previoues {prev}, the charachter {x}. and the next {nxt}")

Enter a character : d
The previoues c, the charachter d. and the next e

Q41: Accept values of variables x, y and z. Rotate their values such
that x has value of y, y has value of z and z has value of x.

In [5]:
x=int(input("Enter the value of x: "))
y=int(input("Enter the value of y: "))
z=int(input("Enter the value of z: "))

x1=x
y1=y
z1=z

x=y1
y=z1
z=x1

print(f"the x value is {x}, the y value is {y}, the z value is {z}")

Enter the value of x: 10
Enter the value of y: 20
Enter the value of z: 30
the x value is 20, the y value is 30, the z value is 10